<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "Banking App" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
  <nav class="nav">
    <div class="logo">
  <span style="font-weight: bold; font-size: 20px; color: white;">SN Bank</span></div>

    <div class="links">
      {% if g.user %}
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('balance') }}">Balance</a>
        <a href="{{ url_for('transactions') }}">Transactions</a>
        <a href="{{ url_for('transfer_form') }}">Transfer</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </div>
  </nav>

  <main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-wrap">
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <small>&copy; {{ 2025 }} MockBank • Demo only</small>
  </footer>
</body>
</html>
